table {
  border-collapse: collapse;
  margin: 20px auto;
}

td {
  border: 5px solid black;
  width: 100px;
  height: 100px;
  text-align: center;
  vertical-align: middle;
  font-size: 50px;
  cursor: pointer;
}

td:hover {
  background-color: #f0f0f0;
}

.confetti {
  width: 10px;
  height: 7px;
  background-color: #e6e6e6;
  position: fixed;
  top: 0;
  animation: fall 2s linear infinite;
}

@keyframes fall {
  0% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(100vh);
  }
}

h1{
    text-align: center;
    color: darkviolet;
}
body{
    background-color: powderblue;
}